#/etc/systemd/system/object-tracker.service
[Unit]

Description=Object tracker Service

[Service]
ExecStart=/home/pi/.venv/bin/rpi-deep-pantilt track person

ExecStop=/usr/bin/pkill -f rpi-deep-pantilt || true

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target