# Media
sounds/*.mp3 filter=lfs diff=lfs merge=lfs -text
# Images
images/*.jpg filter=lfs diff=lfs merge=lfs -text
images/*.jpeg filter=lfs diff=lfs merge=lfs -text
images/*.png filter=lfs diff=lfs merge=lfs -text
