{
        order rate_limit before basicauth
        admin off
}

(rate_limit_events) {
        rate_limit {
                zone register_limit {
                        key {http.request.remote.host}
                        events {args.0}
                        window {args.1}s
                }
        }
}

witchonstephendrive.com {
        route /color/* {
                import rate_limit_events 5 10
        }
        route /sound/* {
                import rate_limit_events 5 10
        }
        route /lights/* {
                import rate_limit_events 5 10
        }
        @cachedFiles {
                path *.jpg *.jpeg *.png *.gif *.ico *.css *.js
        }

        header @cachedFiles {
                Cache-Control "max-age=86400"
        }

        encode @cachedFiles {
                gzip
        }
        header {
                # enable HSTS
                Strict-Transport-Security max-age=31536000;

                # disable clients from sniffing the media type
                X-Content-Type-Options nosniff

                # clickjacking protection
                X-Frame-Options DENY

                # keep referrer data off of HTTP connections
                Referrer-Policy no-referrer-when-downgrade
        }
        reverse_proxy 127.0.0.1:8080
}