basePath: /
definitions:
  routes.ColorResponse:
    properties:
      message:
        type: string
      status:
        type: string
      supportedColors:
        items:
          type: string
        type: array
    type: object
  routes.SoundResponse:
    properties:
      message:
        type: string
      status:
        type: string
      supportedSounds:
        items:
          type: string
        type: array
    type: object
host: witchonstephendrive.com
info:
  contact:
    email: caleblemoine@gmail.com
    name: Caleb Lemoine
  description: Control my halloween decorations
  license:
    name: MIT
    url: https://raw.githubusercontent.com/circa10a/witchonstephendrive.com/main/LICENSE
  title: witchonstephendrive.com
  version: 0.1.0
paths:
  /color/{color}:
    post:
      description: Change hue lights to supported color defined in color map
      parameters:
      - description: Color to change lights to
        in: path
        name: color
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/routes.ColorResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/routes.ColorResponse'
      summary: Change hue lights color
  /colors:
    get:
      description: Get list of supported colors
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/routes.ColorResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/routes.ColorResponse'
      summary: Get available colors to change to
  /sound/{sound}:
    post:
      description: Play halloween sound supported in sound list
      parameters:
      - description: Sound to play
        in: path
        name: sound
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/routes.SoundResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/routes.SoundResponse'
      summary: Play sound via assistant relay
  /sounds:
    get:
      description: Get list of supported sounds
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/routes.SoundResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/routes.SoundResponse'
      summary: Get available sounds to play
schemes:
- https
swagger: "2.0"
