{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Control my halloween decorations",
        "title": "witchonstephendrive.com",
        "contact": {
            "name": "Caleb Lemoine",
            "email": "caleblemoine@gmail.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://raw.githubusercontent.com/circa10a/witchonstephendrive.com/main/LICENSE"
        },
        "version": "0.1.0"
    },
    "host": "witchonstephendrive.com",
    "basePath": "/",
    "paths": {
        "/color/{color}": {
            "post": {
                "description": "Change hue lights to supported color defined in color map",
                "produces": [
                    "application/json"
                ],
                "summary": "Change hue lights color",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Color to change lights to",
                        "name": "color",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/routes.ColorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/routes.ColorResponse"
                        }
                    }
                }
            }
        },
        "/colors": {
            "get": {
                "description": "Get list of supported colors",
                "produces": [
                    "application/json"
                ],
                "summary": "Get available colors to change to",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/routes.ColorResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/routes.ColorResponse"
                        }
                    }
                }
            }
        },
        "/sound/{sound}": {
            "post": {
                "description": "Play halloween sound supported in sound list",
                "produces": [
                    "application/json"
                ],
                "summary": "Play sound via assistant relay",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Sound to play",
                        "name": "sound",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/routes.SoundResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/routes.SoundResponse"
                        }
                    }
                }
            }
        },
        "/sounds": {
            "get": {
                "description": "Get list of supported sounds",
                "produces": [
                    "application/json"
                ],
                "summary": "Get available sounds to play",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/routes.SoundResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/routes.SoundResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "routes.ColorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "supportedColors": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "routes.SoundResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "supportedSounds": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    }
}